<h1>Create a new Idea</h1>

<% if @idea.errors.any? %>
  <h3>
    <%= @idea.errors.full_messages.join(", ") %>
  </h3>
<% end %>

<form action="<%= ideas_path %>" method="post">
  <%= render "form" %>
</form>
