Display Idea<br /><br />

<b>ID </b><%= @idea.id %><br />
<b>Title </b><%= @idea.title %><br />
<b>Description </b><%= @idea.description %><br />

<br/><br/>
<a href="<%= ideas_path %>">Back to idea list</a>
