<h2><%= @idea.title %></h2>
<p>
	Sizin eklediginiz <%= @idea.title %> baslikli idea'niza yeni bir yorum eklendi.
</p>

<%= image_tag 'slider/slider_1.jpg' %>

<p>
	Idea'niza <%= link_to @idea.title, idea_url(@idea) %> adresinden ulasabilirsiniz.
</p>
<p>
	Iyi fikirler
</p>