
 * {
     transition: .2s;
 }
 #navbar-top li:hover {
     color: #fdf1f2;
     background-color: #942014;
 }
 #main_container {
     margin-top: 40px;
     padding-bottom: 40px;
 }
 .navbar-default .navbar-brand {
     color: #ecf0f1;
 }
 .navbar-default .navbar-brand:hover {
     color: #fdf1f2;
 }
 a:hover {
     text-shadow: 0 0 3px #333;
 }
 html {
     position: relative;
     min-height: 100%;
 }
 body {
     padding-top: 50px;
     margin-bottom: 60px;
 }
 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 60px;
     background-color: #ecf0f1;
 }
 footer p.text-muted {
     line-height: 60px;
     margin: 0;
 }
 footer a {
     text-decoration: none;
     color: #333;
 }
 footer a:hover,
 footer a:focus {
     text-decoration: none;
 }
 footer a i {
     padding: 10px 0;
 }
 .mln {
     margin-left: 0;
 }
 .mrn {
     margin-right: 0;
 }
 .pln {
     padding-left: 0;
 }
 .prn {
     padding-right: 0;
 }
 .navbar-default .navbar-nav > li > a {
     font-weight: 600;
 }
 a.list-group-item:hover {
     text-shadow: none;
 }
 .nav-section h3 {
     margin-top: 0;
     line-height: 41px;
     border-left: 5px solid #2c3e50;
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
     padding-left: 10px;
     text-shadow: 0 0 3px #ccc;
 }
 .nav-section form button {
     background: transparent;
     border: none;
 }
 .nav-section form span.input-group-addon {
     padding: 0;
 }
 .nav-section form button span.fa {
     padding: 5px 10px;
 }
 .nav-section + .nav-section {
     margin-top: 20px;
 }
 #categories a {
     color: #333;
     display: inline-block;
     width: 40%;
     margin-bottom: 5px
 }
 #categories a:hover {
     text-shadow: 0 0 2px #999;
 }
 #tags a {
     display: block;
     float: left;
     padding: 10px;
     font-size: 10px;
     margin-right: 5px;
     margin-bottom: 10px;
     background: #e67e22;
 }
 #tags a:hover {
     text-shadow: 0 0 2px #666;
     background: #d35400;
 }
 #tags a:after {
     margin-bottom: '5px;'
 }
 #navbar-right {
     transition: margin-left 0s;
 }
 #navbar-right.affix {
     margin-left: 65%;
     width: 21.6%;
     top: 85px;
 }
 .panel-footer a:hover {
     text-shadow: none;
 }
 .footer .text-muted a:hover {
     text-shadow: 0 0 2px #ccc;
     color: #000;
 }